.contenedor{
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 20px;
    .title{
        margin-top: 10px;
        margin-bottom: 30px;
        font-weight: 600;
        font-family: 'Titillium Web', Arial;
        font-size: 25px;
        text-align: center;
    }
}